<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>57427886443-bsle7hbdvlv2k2s3neudf8ndhpbqid4p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.57427886443-bsle7hbdvlv2k2s3neudf8ndhpbqid4p</string>
	<key>API_KEY</key>
	<string>AIzaSyBpxHSkkBiEidYINf521epBeOp7f2w5SAM</string>
	<key>GCM_SENDER_ID</key>
	<string>57427886443</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.groupie</string>
	<key>PROJECT_ID</key>
	<string>groupie-71b28</string>
	<key>STORAGE_BUCKET</key>
	<string>groupie-71b28.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:57427886443:ios:06336efaec15450bac4c2e</string>
</dict>
</plist>